<ul class="list-group" ng-repeat="caregiver in caregivers| limitTo:limit">
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-3">
                <div class="circular"></div>
                <br>
                <div star-rating rating="caregiver.rating" read-only="true" max-rating="5"></div>
            </div>
            <div class="col-sm-6">{{caregiver.name}}
                <br>({{caregiver.city}})
                <hr> {{caregiver.occupation}}
            </div>
            <div class="col-sm-3">{{caregiver.price}}€/hora</div>
        </div>
    </li>
</ul>
<div class="center">
<button class="btn btn-success" ng-click="loadMore()">Carregar mais</button>
</div>
