<div class="center">
    <h2>Perfil</h2></div>
<div class="greenBox">
    <div class="row">
        <div class="col-sm-4">
            <div class="big-circular"></div>
        </div>
        <div class="col-sm-8">
            <div class="picture-placeholder">
                <h3>{{caregiver.name}}</h3>
                <div class="right">
                   <div star-rating rating="caregiver.avgRating" read-only="true" max-rating="5"></div>
                </div>
                <br>{{caregiver.city}}, {{caregiver.age}} anos </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h4>Descrição</h4></div>
        <div class="col-sm-8">{{caregiver.description}}</div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h4>Competências</h4></div>
        <div class="col-sm-8">
            <div style="margin-top:3%">{{getSkills()}}</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h4>Horários</h4></div>
        <div class="col-sm-8">
            <div style="margin-top:3%">{{caregiver.schedule}}</div>
        </div>
    </div>
</div>
<br>
<br>
<div class="center">
    <h2>Avaliações</h2></div>
<div class="greenBox">
    <ul class="list-group">
        <li class="custom-list-group-item" ng-repeat="review in caregiver.reviews | limitTo:limit">
            <div class="row">
                <div class="col-sm-4"><strong>{{review.user}}</strong></div>
                <div class="right"><div class="col-sm-8"><div star-rating rating="review.rating" read-only="true" max-rating="5"></div></div></div>
                <div class="horizontal-line">
                   <hr>
                </div>
            </div>
            <div class="row">
               <div class="col-sm-8">{{review.comment}}</div>

            </div>
        </li>
    </ul>
</div>
