<div class="container">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
           <div class="navbar-header">
                <a href="../" class="navbar-brand">CareFull</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
           </div>
           <div class="navbar-collapse collapse" id="navbar-main">

             <ul class="nav navbar-nav navbar-center">
                <li><a ui-sref=".caregivers">Caregivers</a></li>
             </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://builtwithbootstrap.com/"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
                    <li><a ui-sref=".messages"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                    <li><a ui-sref=".profile"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
                </ul>

           </div>
        </div>
    </div>

    <div class="container">
      <div class="maincontent">
         <div ui-view>
            <ul class="list-group" ng-repeat="caregiver in caregivers| limitTo:limit">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="circular"></div>
                            <br>
                            <div star-rating rating="caregiver.rating" read-only="true" max-rating="5"></div>
                        </div>
                        <div class="col-sm-6">{{caregiver.name}}
                            <br>({{caregiver.city}})
                            <hr> {{caregiver.occupation}}
                        </div>
                        <div class="col-sm-3">{{caregiver.price}}€/hora</div>
                    </div>
                </li>
            </ul>
            <div class="center">
            <button class="btn btn-success" ng-click="loadMore()">Carregar mais</button>
            </div>

         </div>
      </div>
    </div>
</div>
