


body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    background: url('/assets/img/GreatSandDunesNationalPark.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#bg {
 background: url('/assets/img/Untitled.png') no-repeat center center fixed;
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.maincontent {
   margin-top: 9%;
   margin-left: 20%;
   margin-right: 25%;
}

#caregivers-button {
   text-align: left;
   margin-left:20%;
   margin-top: 20%;
}

#seekers-button {
   text-align: right;
   margin-right: 20%;
   margin-top: 1%;
}

.list-group-item:hover {
       border-color: #18bc9c;
 }

 .left{
    text-align: left;
}

.right {
   text-align: right;
}

.center {
   text-align: center;
}


 .circular {
    	width: 80px;
    	height: 80px;
    	border-radius: 150px;
    	-webkit-border-radius: 150px;
    	-moz-border-radius: 150px;
    	background: url('/assets/img/default.gif') no-repeat;
 	}
