


body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
    background: url('/assets/img/GreatSandDunesNationalPark.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#bg {
 background: url('/assets/img/Untitled.png') no-repeat center center fixed;
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.maincontent {
   margin-top: 9%;
   margin-left: 20%;
   margin-right: 25%;
}

#caregivers-button {
   text-align: left;
   margin-left:20%;
   margin-top: 20%;
}

#seekers-button {
   text-align: right;
   margin-right: 20%;
   margin-top: 1%;
}

.list-group-item:hover {
       border-color: #18bc9c;
 }

 .left{
    text-align: left;
}

.right {
   text-align: right;
}

.center {
   text-align: center;
}


 .circular {
    	width: 80px;
    	height: 80px;
    	border-radius: 150px;
    	-webkit-border-radius: 150px;
    	-moz-border-radius: 150px;
    	background: url('/assets/img/logo.png') no-repeat;
 	}

   .big-circular {
        margin-left: 2%;
        margin-top: 5%;
        width: 180px;
        height: 180px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        background: url('/assets/img/logo-big.png') no-repeat;
     }


.background {
    background: rgba(210,255,82,1);
background: -moz-linear-gradient(-45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 0%, rgba(210,255,82,0.98) 42%, rgba(210,255,82,0.97) 73%, rgba(145,232,66,0.96) 91%, rgba(145,232,66,0.96) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(0%, rgba(145,232,66,1)), color-stop(42%, rgba(210,255,82,0.98)), color-stop(73%, rgba(210,255,82,0.97)), color-stop(91%, rgba(145,232,66,0.96)), color-stop(100%, rgba(145,232,66,0.96)));
background: -webkit-linear-gradient(-45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 0%, rgba(210,255,82,0.98) 42%, rgba(210,255,82,0.97) 73%, rgba(145,232,66,0.96) 91%, rgba(145,232,66,0.96) 100%);
background: -o-linear-gradient(-45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 0%, rgba(210,255,82,0.98) 42%, rgba(210,255,82,0.97) 73%, rgba(145,232,66,0.96) 91%, rgba(145,232,66,0.96) 100%);
background: -ms-linear-gradient(-45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 0%, rgba(210,255,82,0.98) 42%, rgba(210,255,82,0.97) 73%, rgba(145,232,66,0.96) 91%, rgba(145,232,66,0.96) 100%);
background: linear-gradient(135deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 0%, rgba(210,255,82,0.98) 42%, rgba(210,255,82,0.97) 73%, rgba(145,232,66,0.96) 91%, rgba(145,232,66,0.96) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52 ', endColorstr='#91e842 ', GradientType=1 );
}

.greenBox {
   border-style: solid;
   border-color: #18bc9c;
   padding: 5%;
   word-wrap: break-word;
}

.picture-placeholder{
   margin-top: 22%;
   margin-left: 15%;
}

.horizontal-line {
   margin-left: 10%;
   margin-right: 10%;
}

.custom-list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #ecf0f1;
}



.footer-basic-centered{
	background-color: #2c3e50;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #2c3e50;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
      color: #18bc9c;
		padding: 25px 0 20px;
	}

   .footer-social {
      padding: 10%;
      margin-top: 2%;
      margin-bottom: 2%;
   }

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}
